<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.dorandoran">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="kr.co.dorandoran.TAcademyGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".JoinActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".SplashActivity"/>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
           />

        <activity android:name=".MyPostActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".PostWriteActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".PostModifyActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MyPostActivity"/>
        <activity android:name=".PostDetailActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".MyMessage"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".MessageForm"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>


    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>